@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #536976;
    background: -webkit-linear-gradient(to right, #292E49, #536976);
    background: linear-gradient(to right, #292E49, #536976);
}

footer {
    margin-top: 60vh;
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

